.env

*.zip
*.sql
wp-content/debug.log
wp-content/cache

/wp-content/themes/inter10/node_modules
/wp-content/themes/inter10/vendor
/wp-content/themes/inter10/public

/wp-content/themes/inter10/public
/wp-content/themes/inter10/.env
/wp-content/themes/inter10/.budfiles
/wp-content/themes/inter10/npm-debug.log
/wp-content/themes/inter10/yarn-error.log
/wp-content/themes/inter10/front/node_modules
/wp-content/themes/inter10/front/.git
/wp-content/themes/inter10/front/dev
/wp-content/themes/inter10/front/prod

/wp-content/themes/inter10/.vscode
/wp-content/themes/inter10/.idea
/wp-content/themes/inter10/front/.vscode
/wp-content/themes/inter10/front/.idea
/wp-content/themes/inter10/front/package-lock.json

/vendor/
/wp-content/ai1wm-backups

